In [1]:
import numpy as np
import pandas as pd

In [51]:
countries = ['China', 'Germany', 'India', 'United States']

policies = pd.read_csv('./Data/policies.csv', index_col=0)
policies = policies[policies['Year'] >= 2000]
policies = policies.replace('People\'s Republic Of China', countries[0])

policies = policies.groupby(['Country', 'Year']).count()['Policy']

In [88]:
df = pd.DataFrame(columns=['Country', 'Year', 'Number of policies'])

df['Country'] = countries * 20
df['Year'] = np.arange(2000, 2020).repeat(4)

df = df.sort_values(by=['Country', 'Year']).reset_index(drop=True)

for i, country in enumerate(countries):
    C = policies[country]
        
    idx = pd.date_range('31-12-2000', '31-12-2019', freq='Y')
    idx = idx.year
    C = C.reindex(idx, fill_value=0)
    
    s = i * 20
    e = (i + 1) * 20
    e = e - 1
    
    df.loc[s:e, 'Number of policies'] = C.values
df

          Country  Year Number of policies
0           China  2000                  0
1           China  2001                  0
2           China  2002                  1
3           China  2003                  1
4           China  2004                  0
..            ...   ...                ...
75  United States  2015                  0
76  United States  2016                  1
77  United States  2017                  0
78  United States  2018                  1
79  United States  2019                  0

[80 rows x 3 columns]

In [92]:
df.to_csv('./Data Formated/policies.csv')